body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiOutlinedInput-root {
  background-color: #ffffff;
}

.MuiOutlinedInput-root fieldset {
  border-color: #b6c7da;
}

.MuiOutlinedInput-root:hover fieldset {
  border-color: #06203a;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #06203a;
}

.MuiInputLabel-root {
  color: #06203a;
}

.MuiInputLabel-root.Mui-focused {
  color: #06203a;
}
